# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Expo
# ======================
.expo/
dist/
web-build/
expo-env.d.ts

# ======================
# React Native / Native
# ======================
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ======================
# Metro
# ======================
.metro-health-check*

# ======================
# Logs / Debug
# ======================
npm-debug.*
yarn-debug.*
yarn-error.*

# ======================
# Environment variables
# ======================
.env*.local

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# OS / Editor
# ======================
.DS_Store

# ======================
# Security / Certificates
# ======================
*.pem

# ======================
# Other / Examples
# ======================
app-example
